.boton_no_actualizado{
    background-color: rgb(220, 159, 159) !important;
    border: 1px solid #c0c0c0;
}
.boton_actualizado{
  background-color: #c4ffc6 !important;
  border: 1px solid #c0c0c0;
}
.boton_actualizar{
  background-color: #e9fbf9 !important;
  border: 1px solid #c0c0c0;
}

.form-control[readonly]{
  background-color: #ffeee8;
}

.comentario{
  float: right;
}

.boton_categoria_ingrediente{
  background-color: #fff6c8 !important;
}

.boton_categoria_plato{
  background-color: #f4e4ff !important;
}

.opaco {
    opacity: 0.1 !important;
}

.ingrediente_poco{
  background-color: #55e25d;
  color:white;
  border: 1px solid #ceb9ac;
  /*
  width: 30px;
  float: left;
  padding: 0 5px;margin: 0 5px;
  border-radius: 7px;   */
}
.ingrediente_medio{
  background-color: #e28d55; 
  color:white;
  border: 1px solid #ceb9ac;
  /*
  width: 20px;
  float: left;
  padding: 0 5px;margin: 0 5px;   
  border-radius: 7px;   */
}
.ingrediente_mucho{
  background-color: #e25555;
  color:white;
  border: 1px solid #ceb9ac;
  /*
  width: 20px;
  float: left;
  padding: 0 5px;margin: 0 5px;   
  border-radius: 7px;   */
}

.ingrediente_no_activo{
  color: #dcdcdc;
}
.ingrediente_activo{
  color: black;
}

.ingrediente.form-control {
    height: 14px;
}

.dropdown-menu {
  position:relative;
  width:100%;
  top: 0px !important;
    left: 0px !important;

}

#semana td{
  white-space: normal !important; // To consider whitespace.
}
.borrar{
  color:gray;
  font-weight: bold;
  padding: 0 5px;
  cursor: auto;
}

#semana td {
    min-height: 30px;
    height: 30px;
}

.dragging {
    opacity: .5;
}

.plato_o_ingrediente{
  cursor: grab;
  margin: 3px 0;
  padding: 5px  15px;
  border-radius: 7px;
  text-align: center;
  border: 1px solid lightgrey;
}
.resultado_I{
  background-color: #fff6c8;
}
.resultado_P{
  background-color: #f4e4ff;
}

.categoria {
    display: inline;
    line-height: 40px;
}

div#categorias button, div#listalista button {
    background-color: #d5e0ff;
    text-align: center;
    border-radius: 23px;
}

.navbar-inverse {
    background-color: #a97a4b;
    border-color: #d81b1b;
}

tr .no_activo{
  background-color: #ece7e7 !important;
}

tr .activo{
  background-color: #dff0d8 !important;
}

.navbar .navbar-form  .input-group  a
{
	color:white;
	/*background-color: #2c3e50;*/
	border: 0 solid black;
	padding: 15px;
}
.carousel-control
{
	color: #149C82;
	width: 0;
}
.page-header
{
	padding-bottom: 0;
	margin: 42px 0 10px;
}
a.invertido 
{
color: #FFF;
}

.panel-success {
  border-color: #C9DFDA;
}
.control_grande{
  font-size: 20px;
  height: 38px;
  line-height: 28px;
  /*float:right;*/
}
.datos_clientes{
  border: 1px solid rgb(146,208,80);
  margin: 10px 5px;
  padding: 10px 5px;
  background-color: rgb(146,208,80);
  color:white;
  border-radius: 5px;
}

.meta {
    border: 1px solid #dff0d8;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #88d6f2;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(136,214,242,1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(136,214,242,1);
  box-shadow: 0px 0px 30px 0px rgba(136,214,242,1);
}

.meta.coberturado{
    background-color: #cccccc !important;  
    color:white !important;
}

.item_resultado{
  color:white;
  }
.codigo{
  color:blue;
  font-weight: bold;
}
.coberturado{
  background-color: #cccccc;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(136,214,242,1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(136,214,242,1);
  box-shadow: 0px 0px 30px 0px rgba(136,214,242,1);
}

.por_coberturar{
  background-color: #1cb7e6;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(136,214,242,1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(136,214,242,1);
  box-shadow: 0px 0px 30px 0px rgba(136,214,242,1);
}
.item_sin_meta{
  background-color: #eae77a;
  border: 1px solid #eae77a;  
}


.puedes_mas{
  background-color: #f2b888;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(136,214,242,1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(136,214,242,1);
  box-shadow: 0px 0px 30px 0px rgba(136,214,242,1);
}








.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 8px;
  padding-right: 8px;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

